.bodyslider{
  margin: 0;
  padding: 0;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: #23E3C9; */
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/* For View all button */
.alllistbutton{
    display: flex;
    justify-content: center;
    transform: translatey(-100%,100%);
    position: relative;
}

.viewallist{
  background-color: #055052; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.viewallist:hover{
  background-color: #5ca6a8;
}

@media only screen and (max-width:800px) {
  .bodyslider{
    height: 60vh;
  }
  .slider{
    height: 250px;
    width: 400px;
  }
  .slide img{
    height: 250px;
    width: 400px;
  }
  .navigation-manual{
    width: 400px;
    margin-top: -300px;
  }
  .navigation-auto{
    width: 400px;
    margin-top: 200px;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 60px;
  }
  .manual-btn:not(:last-child){
    margin-right: 60px;
  }
}

@media only screen and (max-width:450px){
 .bodyslider{
    height: 60vh;
  }
  .slider{
    height: 180px;
    width: 330px;
  }
  .slide img{
    height: 180px;
    width: 330px;
  }
  .navigation-manual{
    width: 330px;
    margin-top: -300px;
  }
  .navigation-auto{
    width: 330px;
    margin-top: 200px;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 60px;
  }
  .manual-btn:not(:last-child){
    margin-right: 60px;
  } 
}