{% extends 'index.html' %}

{% block body %}
{% load static %}

<div class="container-of-event">
    <div class="main">
        {% for event in all_events %}
        {% if event.post_or_not == True %}
        <div class="event">
            <div class="event-photo">
                <img src= "{{ event.pic_or_logo.url }}" alt="" />
            </div>
            <div class="event-name">
                <span>Name: </span>{{event.Name_of_event}}
            </div>
            <div class="event-industry">
                <span>Industry: </span>{{event.industry}}
            </div>
            <div class="event-organizer">
                <span>Organizer: </span>{{event.organizer}}
            </div>
            <div class="event-date">
                <span>Date: </span>{{event.duration}}
            </div>
            <div class="event-time">
                <span>TIme: </span>{{event.time}}
            </div>
            <div class="event-location">
                <span>Location: </span>{{event.location}}
            </div>
            <div class="event-venue">
                <span>Venue: </span>{{event.venue}}
            </div>
            <div class="event-registration">
                <span>Link: <a href="https://{{event.link_to_register}}">{{event.link_to_register}}</a></span>
                <!-- <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-youtube-square"></i> -->
            </div>
            <div class="event-type">
                <span>Type Of Event: </span>{{event.type_of_event}}
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}