{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/EventListing/static/styleslider.css" />
<!-- <link rel="stylesheet" href="/static/lightslider.css"> -->
{% endblock %}

{% block body %}
{% load static %}


<!-- Custom Slider -->
<div class="bodyslider">
    <div class="slider">
        <div class="slides">
            <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!--radio buttons end-->
            <!--slide images start-->
            <div class="slide first">
                {% if all_events.0.post_or_not == True %}   
                <img src="{{all_events.0.pic_or_logo.url}}" alt="">
                {% endif %}
            </div>
            <div class="slide">
                {% if all_events.1.post_or_not == True %}
                <img src="{{all_events.1.pic_or_logo.url}}" alt="">
                {% endif %}
            </div>
            <div class="slide">
                {% if all_events.2.post_or_not == True %}
                <img src="{{all_events.2.pic_or_logo.url}}" alt="">
                {% endif %}
            </div>
            <div class="slide">
                {% if all_events.3.post_or_not == True %}
                <img src="{{all_events.3.pic_or_logo.url}}" alt="">
                {% endif %}
            </div>
            <!--slide images end-->
            <!--automatic navigation start-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
            <!--automatic navigation end-->
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
        <!--manual navigation end-->
    </div>
    <!--image slider end-->
    
</div>
<script type="text/javascript">
    var counter = 1;
    setInterval(function () {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if (counter > 4) {
            counter = 1;
        }
    }, 5000);
</script>


<div class="alllistbutton">
    <form action="/EventListing/alllist/">
        <button id="viewallist" class="viewallist" type="submit">View All Events</button>
    </form>
</div>

{% endblock %}