{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/EventListing/static/stylepostingform.css">
<style>
    
</style>
{% endblock %}

{% block body %}
{% load static %}

<div class="posteventform">
    <div class="title">Posting Event</div>
    <div class="formtopost">
        <form action="/EventListing/postanevent/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="inputfield">
                <label>Name of Event: </label>
                <input type="text" class="input" id="nameofevent" name="nameofevent" required>
            </div>
            <div class="inputfield">
                <label>Event Poster: </label>
                <input type="File" max_size="1000" class="input" id="eventposter" name="eventposter" accept="image/x-png, image/gif, image/jpeg" required>
            </div>
            <div class="imagesizelimit">
                <p>Image size required < 1MB</p>
            </div>
            <div class="inputfield">
                <label>Location: </label>
                <input type="text" class="input" idname="eventlocation" name="eventlocation">
            </div>
            <div class="inputfield">
                <label>Duration: </label>
                <input type="text" class="input" id="durationofevent" name="durationofevent" required>
            </div>
            <div class="inputfield">
                <label>Time: </label>
                <input type="text" class="input" id="eventtime" name="eventtime">
            </div>
            <div class="inputfield">
                <label>Venue: </label>
                <input type="text" class="input" id="eventvenue" name="eventvenue" required>
            </div>
            <div class="inputfield">
                <label>Industry: </label>
                <input type="text" class="input" id="eventindustry" name="eventindustry">
            </div>
            <div class="inputfield">
                <label>Organizer: </label>
                <input type="text" class="input" id="eventorganizer" name="eventorganizer" required>
            </div>
            <div class="inputfield">
                <label>Link to register: </label>
                <input type="text" class="input" id="eventlink" name="eventlink">
            </div>
            <div class="inputfield">
                <label>Type of event: </label>
                <input type="text" class="input" id="typeofevent" name="typeofevent">
            </div>
            <div class="submitbuttonforposting">
                <button type="submit" class="submitpostbutton">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}